:host{
  display:block;
  overflow: hidden;
  box-sizing: border-box;
}
.list{
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: var(--budget-entry-height);
  align-items: center;
  width:100%;
  padding: 0 .5em;
  gap: .5em;

  line-height: var(--budget-entry-height);

  .category{
    grid-column:1;
    width:1.5em;
    height:1.5em;
    line-height: 1.5em;
  }
  
  .value{
    white-space: nowrap;
    justify-self: flex-end;
    padding:0 .5rem
  }
}