@import "../resets.css";

.container{
  position:relative;
  width:100vw;
  height:100vh;
  display:flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;

  & .extremity-padder{
    width:var(--extremity-padding);
    flex-shrink:0;
  }
}

.glass-card{
  position:relative;
  width:var(--list-width);
  flex-shrink:0;
  margin:0 var(--list-margin);
  /* padding-top: var(--toolbar-height); */
  scroll-snap-align: center;

  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  display:flex;
  flex-direction: column;
  align-items: center;

  padding-bottom:1em;
  margin-bottom:2em;

  .header{
    width:100%;
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
    padding:.5em 0;
    text-transform: capitalize;

    &.sub{
      font-size: 80%;
    }
  }
}
.file-list{
  border-radius:0 0 .25em .25em;

  .file-results{
    width:100%;

    div.entry{
      .selected{
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

.load-button{
  margin-top: 1rem;
}

.file-results > div{
  display:flex;
  align-items: center;
  gap:1em;
  width:100%;
  box-sizing: border-box;
  padding: .25em .5em;

  span{
    flex-shrink: 0;
  }
  span:first-child{
    flex-grow: 1;
  }

  &:nth-child(2n){
    background-color: #add8e640;
  }
}
.file-creation > div{
  display:flex;
  align-items: center;
  gap:1em;
  width:100%;
  box-sizing: border-box;
  padding: .25em .5em;
}

.options > div:not(.header){
  display:flex;
  align-items: flex-start;
  gap:1em;
  width:100%;
  box-sizing: border-box;
  padding: .25em .5em;

}

form{
  display: flex;
  gap:1em;

  &#upload-form{
    input[type=file]{
      font-size:16px;
      opacity:0;
      position:absolute;
      padding:0 .5em;
      width:8em;
    }
    label[for=file]{
      background-color: #ffffffaa;
      outline: none;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 0 .5em;
      line-height:2em;

      width:8em;
    }
  }
}

input{
  background-color: #ffffffaa;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: .25em .5em;
  line-height:2em;
}

input[name=year]{
  text-align:center;
  width:3em;
}